@import "global";
html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-size: $fontSize;
    display: flex;
    flex-direction: column;
    header {
        padding: 20px;
        background: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(10px);
        a {
            padding: 10px;
            color: #fff;
            text-decoration: none;
            &:hover{
                color: #bbb;
            }
        }
        position: absolute;
        width: 100%;
        z-index: 2;
        padding: 10px 0;
        margin: auto 0;
    }
    #tictactoe-main{
        display: flex;
        flex-direction: column;
        align-items: center;
        div{
            button{
                padding: 10px;
                margin: 10px;
                border: none;
                border-radius: 5px;
                background-color: #7e43ff;
                color: #fff;
                cursor: pointer;
                &:hover{
                    background-color: #6b38cc;
                }
            
            }
        }
        #tictactoe-game-board{
            display: grid;
            grid-template-columns: repeat(3, 100px);
            grid-gap: 10px;
            .cell {
                width: 100px;
                height: 100px;
                color: #000;
                background-color: #f0f0f0;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 24px;
                cursor: pointer;
            }
        }
    }
    main {
        background-color: $backgroundColor;
        padding: 50px 0 0;
        display: block;
        box-sizing: border-box;
        color: #fff;
        min-height: 100vh;
        h1{
            text-align: center;        
        }
        a{
            color: #7e43ff;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
        #content{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            div{
                grid-column: span 1;
                justify-self: center;
                width: 80%;
                justify-content: center;
                border: 1px solid #7e43ff;
                border-radius: 10px;
                padding: 1em;
                margin: 20px 0;
            }
            #extra{
                width: 90%;
                grid-column: span 2;
            }
        }
        @media screen and (max-width: 700px) {
            #content{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                div{
                    width: 90%;
                }
            }
            
        }
        #gameContainer{
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            div{
                margin: 0 0 5px;
            }
            canvas {
                border: 1px solid #7e43ff;
                border-radius: 5px;
                margin: 10px;
            }
        }
        #absolut{
            display: flex;
            flex-direction: column;
            align-items: center;
            h1{
                margin: 0;
                padding: 0;
            }
            canvas {
                border: 1px solid #7e43ff;
                border-radius: 5px;
                margin: 10px 0;
            }
            @media screen and (max-height: 900px){
                canvas{
                    width: 1000px;
                    height: 800px;
                }
            }
            @media screen and (max-height: 800px){
                h1{
                    font-size: 1.5em;
                }
                canvas{
                    width: 800px;
                    height: 640px;
                }
            }
            @media screen and (max-height: 700px){
                h1{
                    font-size: 1.2em;
                }
                canvas{
                    width: 600px;
                    height: 480px;
                }
            }
        }
    }
    footer {
        text-align: center;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
        margin-top: auto;
    }
}