# Dependency directories
node_modules

# Production build output
build

# Configuration files
.local
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# VS Code
.vscode/