@import "global";
html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-size: $fontSize;
    display: flex;
    flex-direction: column;
    header {
        padding: 20px;
        background: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(10px);
        a {
            padding: 10px;
            color: #fff;
            text-decoration: none;
            &:hover{
                color: #bbb;
            }
        }
        position: absolute;
        width: 100%;
        z-index: 2;
        padding: 10px 0;
        margin: auto 0;
    }
    main {
        background-color: $backgroundColor;
        padding: 50px 0 0;
        display: block;
        box-sizing: border-box;
        color: #fff;
        min-height: 100vh;
        h1{
            text-align: center;
        }
        #characters{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            div{      
                border: 1px solid #bbb;
                border-radius: 15px;
                padding: 25px;
                margin: 25px;
                width: 20vw;
                background-color: #4a015427;
                h2{
                    text-align: center;
                }
                ul{
                    list-style: none;
                    padding: 0 15px;
                    li{
                        a{
                            color: #fff;
                            text-decoration: none;
                            &:hover{
                                color: #bbb;
                            }
                        }
                    }
                }
            }
        }
        #content{
            background-color: #4a015427;
            width: 50vw;
            border: 2px solid #bbb;
            border-radius: 15px;
            h2{
                margin: 15px;
            }
            ul{
                li{
                    a{
                        color: #fff;
                        text-decoration: none;
                        &:hover{
                            color: #bbb;
                        }
                    }
                }
            }
            @media screen and (max-width: 1000px){
                width: 60vw;
            }
            @media screen and (max-width: 500px){
                width: 80vw;
                box-sizing: border-box;
                margin: auto;
            }
        }
        h2{
            text-align: center;
        }
        h3{
            text-align: center;
        }
        article{
            margin: 25px;
            border: 1px solid #bbb;
            border-radius: 15px;
            section{
                margin: 25px
            }
        }
        #box{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            h2{
                text-align: center;
                padding: 20px;
            }
            ul{
                padding: 0;
                list-style: none;
                li{
                    padding: 0 20px;
                }
            }
            img{
                border-radius: 15px;
                padding: 10px;
            }
            #summary{
                width: 50vw;
                p{
                    padding: 0 10px;
                    a{
                        color: #fff;
                        text-decoration: none;
                        &:hover{
                            color: #bbb;
                        }
                    
                    }
                }
            }
        }
    }
    footer {
        text-align: center;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
        margin-top: auto;
    }
}