html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-size: 2.5ch;
  display: flex;
  flex-direction: column;
}
body header {
  padding: 20px;
  background: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: absolute;
  width: 100%;
  z-index: 2;
  padding: 10px 0;
  margin: auto 0;
}
body header a {
  padding: 10px;
  color: #fff;
  text-decoration: none;
}
body header a:hover {
  color: #bbb;
}
body main {
  background-color: #111;
  padding: 50px 0 0;
  display: block;
  box-sizing: border-box;
  color: #fff;
  min-height: 100vh;
}
body main h1 {
  text-align: center;
}
body main #characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body main #characters div {
  border: 1px solid #bbb;
  border-radius: 15px;
  padding: 25px;
  margin: 25px;
  width: 20vw;
  background-color: rgba(74, 1, 84, 0.1529411765);
}
body main #characters div h2 {
  text-align: center;
}
body main #characters div ul {
  list-style: none;
  padding: 0 15px;
}
body main #characters div ul li a {
  color: #fff;
  text-decoration: none;
}
body main #characters div ul li a:hover {
  color: #bbb;
}
body main #content {
  background-color: rgba(74, 1, 84, 0.1529411765);
  width: 50vw;
  border: 2px solid #bbb;
  border-radius: 15px;
}
body main #content h2 {
  margin: 15px;
}
body main #content ul li a {
  color: #fff;
  text-decoration: none;
}
body main #content ul li a:hover {
  color: #bbb;
}
@media screen and (max-width: 1000px) {
  body main #content {
    width: 60vw;
  }
}
@media screen and (max-width: 500px) {
  body main #content {
    width: 80vw;
    box-sizing: border-box;
    margin: auto;
  }
}
body main h2 {
  text-align: center;
}
body main h3 {
  text-align: center;
}
body main article {
  margin: 25px;
  border: 1px solid #bbb;
  border-radius: 15px;
}
body main article section {
  margin: 25px;
}
body main #box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
body main #box h2 {
  text-align: center;
  padding: 20px;
}
body main #box ul {
  padding: 0;
  list-style: none;
}
body main #box ul li {
  padding: 0 20px;
}
body main #box img {
  border-radius: 15px;
  padding: 10px;
}
body main #box #summary {
  width: 50vw;
}
body main #box #summary p {
  padding: 0 10px;
}
body main #box #summary p a {
  color: #fff;
  text-decoration: none;
}
body main #box #summary p a:hover {
  color: #bbb;
}
body main #general-info {
  margin: 25px;
  padding: 0 25px;
  border: 1px solid #bbb;
  border-radius: 15px;
}
body main #container p {
  padding: 0 25px;
}
body main #container img {
  border-radius: 15px;
  padding: 10px;
  display: block;
  margin: 0 auto;
}
body #general-info-main ul {
  margin: 25px;
  list-style: none;
  border: 1px solid #bbb;
  border-radius: 15px;
  width: 50vw;
  padding: 10px 5px;
}
body #general-info-main ul li {
  padding: 5px 10px;
}
body #general-info-main ul li a {
  padding: 0 20px;
  color: #fff;
  text-decoration: none;
}
body #general-info-main ul li a:hover {
  color: #bbb;
}
body footer {
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  margin-top: auto;
}/*# sourceMappingURL=general.css.map */